{% extends 'kisan/base.html' %}
{% block title %} Signup Form {% endblock title %}
{% block body %}
<div class="container mt-4">
<form class="form-group" method="POST">
    {% csrf_token %}
    {% for i in form %}
    {{i.label_tag}} {{i}} {{i.errors|striptags}}
    <br><br>
    {% endfor %}
    <input type="Submit" value="Submit" class="btn btn-primary">
    </form>
    Already have a account <a href="{% url 'login' %}" > Login Here </a>.
    {% if messages %}
        {% for i in messages %}
            {{i}}
        {% endfor %}
    {% endif %}
</div>
{% endblock body %}